{% if page.title != "Home" %}
<footer>
  <p>
    <!-- &copy; {{site.copyyear}}, {{site.authors}} <br/> -->
    Code released under 
    <a href="{{page.license}}">the MIT License</a>. 
  </p>
</footer>
{% endif %}
